.txt_menus {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #333333; text-decoration: none}
.txt_menusup {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	text-align: justify;
}
.txt_menusup:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #A5110A;
	text-decoration: none;
	text-align: justify;
}
.buscar {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #003366; height: 15px; width: 85px; border: thin #A5110A solid; background-color: #eeeeee}
.votar {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-weight: normal; color: #333333; text-decoration: none; background-color: #CCCCCC; height: 15px; width: 66px; border: none}
.txt_menusupLINK {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.celda {  }
.titulares {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #FFFFFF; text-decoration: none}
.menu1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.menu2 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #A5110A;
	text-decoration: none;
}
.menu3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	letter-spacing: 1px;

}
.botonbuscar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #FFFFFF;
	border: 0px #FFFFFF;
}
.botonform {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #003366;
	height: 16px;
	width: 85px;
	border: thin #A5110A solid;
	background-color: #eeeeee;
	text-align: center;
	vertical-align: middle;

}
.form {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	text-align: justify;
	border: 1px solid;

}
.INPUT
{
 background: #FFFFFF;
 color: #000000;
 font-size: 9px;
 border-color: #ffffff;
 font-family: verdana;
}
.botonbuscar2 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #CCCCCC;
	border: 0px #FFFFFF;
}
.city {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.tabla_linea_abajo {
	border-bottom-width: 1;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
.txt_portada_titular {
	font-family: "Trebuchet MS", Arial;
	font-size: 17px;
	line-height: 20px;
	
	color: #333333;
	text-decoration: none;
	
}	
.txt_portada_titular:hover {

	color: #910A2B;

	
}	

.antetitulo {font-size: 10px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	font-weight: bold;
	color: #990000;
	text-decoration: none;
	}

.txt-lasnoticias {
	font-family: "Trebuchet MS", Arial;
	font-size: 11px;
	line-height: 16px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}
